__pycache__
uploads
processed
venv
.env
core
huey.*
*.db
req.txt
settings.yml
app.log
/config/*
my.settings.yml
jobs.db-*
venv312
models
config
app.log*
test_chunks
test_processed
test_uploads
uploads_data
processed_data
.vscode
.playwright-mcp
